- name: Stop Vault
  ansible.builtin.systemd:
    name: vault
    state: stopped
    enabled: yes

- name: Ansible delete file glob
  ansible.builtin.find:
    paths: "{{ vault_data_folder }}/data"
  register: files_to_delete

- name: Ansible remove file glob
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ files_to_delete.files }}"

- name: Start Vault
  ansible.builtin.systemd:
    name: vault
    state: started
    enabled: yes
