- name: Stop Vault
  ansible.builtin.systemd:
    name: vault
    state: stopped
    enabled: yes

- name: Find all files
  ansible.builtin.find:
    paths: "{{ vault_data_folder }}/data"
    recurse: yes
    use_regex: no
    patterns: "*"
  register: files_to_delete

- name: Remove file glob
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ files_to_delete.files }}"

- name: Start Vault
  ansible.builtin.systemd:
    name: vault
    state: started
    enabled: yes
