# Enable the HTTP/HTTPS
ui = true

storage "file" {
  path = "{{ vault_data_folder }}/data"
}

listener "tcp" {
  address     = "0.0.0.0:{{ vault_port }}"
  tls_cert_file = "{{ vault_config_folder }}/certs/vault.crt"
  tls_key_file  = "{{ vault_config_folder }}/certs/vault.key"
}

api_addr = "{{ vault_address }}:{{ vault_port }}"
