- name: Reading unseal key contents
  set_fact:
    unseal_keys: "{{ unseal_keys | default([]) + [ lookup('file', item) ] }}"
  with_fileglob: "{{ vault_config_folder }}/{{ vault_keys_folder }}/*"
  delegate_to: localhost

- name: Unseal vault with unseal keys
  ansible.builtin.shell: |
    vault operator unseal {{ item }}
  environment:
    VAULT_ADDR: "{{ vault_address }}:{{ vault_port }}"
  with_items: "{{ unseal_keys }}"
