---
- name: Prerequisites
  import_tasks: prerequisites.yml
  tags:
    - setup

- name: Install
  import_tasks: prerequisites.yml
  tags:
    - setup

- name: Generate certificates
  import_tasks: generate-certs.yml
  tags:
    - setup
    - certificates

- name: Create service
  import_tasks: service.yml
  tags:
    - setup

- name: Reset vault
  import_tasks: reset.yml
  tags:
    - setup
    - init

- name: Initialize vault
  import_tasks: init.yml
  tags:
    - setup
    - init

- name: Unseal vault
  import_tasks: unseal.yml
  tags:
    - setup
    - unseal
