---
- name: "Creating vault user group '{{ vault_group }}'"
  group:
    name: "{{ vault_group }}"
  become: true

- name: "Creating vault user '{{ vault_user }}'"
  user:
    name: "{{ vault_user }}"
    group: "{{ vault_group }}"
    system: yes
    shell: /sbin/nologin
    comment: "vault nologin User"
    createhome: "no"
    state: present

- name: Install prerequisites
  package:
    name: "{{ item }}"
    update_cache: yes
  with_items: "{{ vault_install_prerequisites }}"
  become: yes

- name: Download binary
  get_url:
    url: "https://releases.hashicorp.com/vault/{{ vault_version }}/vault_{{ vault_version }}_linux_amd64.zip"
    dest: "{{ folder_tmp }}/vault_{{ vault_version }}_linux_amd64.zip"
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"
    mode: 0755
    checksum: "{{ vault_checksum }}"
  register: vault_download

- name: "Unzip vault archive"
  unarchive:
    src: "{{ vault_download.dest }}"
    dest: "{{ vault_binary_folder }}"
    copy: no
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"
    mode: 0755

- name: Set vault capabilities
  community.general.capabilities:
    path: "{{ vault_binary_folder }}/{{ vault_binary }}"
    capability: cap_ipc_lock=ep
    state: present

- name: Create systemd service
  ansible.builtin.template:
    src: "{{ vault_service_template }}"
    dest: "{{ folder_systemd }}/{{ vault_service }}"
    owner: root
    group: root
  notify: systemd_reload

- name: Create vault settings folder
  ansible.builtin.file:
    path: "{{ vault_config_folder }}"
    state: directory
    owner: root
    group: root

- name: Creat vault data folder
  ansible.builtin.file:
    path: "{{ vault_data_folder }}"
    state: directory
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"

- name: Copy config file
  ansible.builtin.template:
    src: "{{ vault_config_template }}"
    dest: "{{ vault_config_folder }}/{{ vault_config }}"
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"

- name: Start and enable vault service
  ansible.builtin.systemd:
    name: vault
    state: started
    enabled: yes
