---
- name: Prerequisites
  include_tasks: prerequisites.yml
  tags:
    - setup

- name: Install
  include_tasks: prerequisites.yml
  tags:
    - setup

- name: Generate certificates
  include_tasks: generate-certs.yml
  tags:
    - setup
    - certificates

- name: Create service
  include_tasks: service.yml
  tags:
    - setup

- name: Reset vault
  include_tasks: init.yml
  tags:
    - setup
    - init

- name: Initialize vault
  include_tasks: init.yml
  tags:
    - setup
    - init

- name: Unseal vault
  include_tasks: unseal.yml
  tags:
    - setup
    - unseal
